*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --roboto: 'Roboto', sans-serif;
  --rajdhani: 'Rajdhani', sans-serif;
  --righteous: 'Righteous', sans-serif;

  --border-dark: #979797;
  --border-light: var(--border-dark);
  --text-dark: black;
  --text-light: white;

  --grid-bg: #c4c4ba;
  --grid-lines: rgba(245, 245, 245, 0.2);

  --active-green: #05ff00;

  --padding: 28px;
  --topbar-height: 60px;
  --card-width: 270px;
  --card-height: 330px;

  --page-max-width: 1512px;

  --line-grid: linear-gradient(var(--grid-lines) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid-lines) 1px, transparent 1px);
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  color: var(--text);
  font-family: var(--font-family);
  background-position: -1px -1px;
  background-size: 15px 15px;
  background-color: var(--grid-bg);
  background-image: var(--line-grid);
  background-repeat: repeat;
}

a:link {
  text-decoration: none;
  color: var(--text);
}
a:visited {
  text-decoration: none;
  color: var(--text);
}
a:hover {
  text-decoration: none;
  color: var(--text);
}
a:active {
  text-decoration: none;
  color: var(--text);
}

/* 
all items in the /pages directory should have a <main> tag that wraps all content
this style will apply to all of them, and properly sets up the the page content underneath the top navigation bar
*/
main {
  margin-top: var(--topbar-height);
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 100%;
  max-width: var(--page-max-width);
  height: calc(100% - var(--topbar-height));
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: var(--border-radius);
  color: var(--text);
  font-family: var(--font-family);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
