*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --roboto: 'Roboto', sans-serif;
  --rajdhani: 'Rajdhani', sans-serif;
  --righteous: 'Righteous', sans-serif;

  --border-dark: black;
  --border-light: #d9d9d9;
  --text: black;
  --card-background-front: #c4c4c4;

  --padding: 30px;
  --topbar-height: 90px;
  --card-width: 270px;
  --card-height: 330px;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  color: var(--text);
  font-family: var(--font-family);
}

a:link {
  text-decoration: none;
  color: var(--text);
}
a:visited {
  text-decoration: none;
  color: var(--text);
}
a:hover {
  text-decoration: none;
  color: var(--text);
}
a:active {
  text-decoration: none;
  color: var(--text);
}

/* 
all items in the /pages directory should have a <main> tag that wraps all content
this style will apply to all of them, and properly sets up the the page content underneath the top navigation bar
*/
main {
  margin-top: var(--topbar-height);
  position: absolute;
  width: 100%;
  height: calc(100% - var(--topbar-height));
  display: flex;
  flex-direction: row;
}

button {
  cursor: pointer;
  background: none;
  border: 1px solid black;
  border-radius: var(--border-radius);
  color: var(--text);
  font-family: var(--font-family);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
